{% extends 'base.html.twig' %}

{% block title %}Hello Formulario!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> 
{% block javascripts %} 
    <script language = "javascript">  
      $(document).ready(function(){
        //VALIDACION DE INPUT SOLO NUMEROS NO CARACTERES ESPECIALES NO BLANK
        $("#telefono.form-control").keypress(function (e){
        var charCode = (e.which) ? e.which : e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false; 
            }
        });
        //VALIDACION DE INPUT SOLO LETRAS NO CARACTERES ESPECIALES NI TILDES
        $("#nombre.form-control").keypress(function(event){
        var inputValue = event.charCode;
        if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0) && (inputValue != 222 && inputValue != 191) ){
            event.preventDefault();
        }
        });
        //VALIDACION DE NO ESPACIOS
        $("#correo.form-control").keypress(function(e) {
        if (e.which == 32)
            return false;
        });
        $("#manual_boton").on("click", function(e){
            e.preventDefault();
            e.stopImmediatePropagation();
            var name = $("#nombre").val();
            var phone = $("#telefono").val();
            var mail = $("#correo").val();       
            var msj = $("#mensaje").val(); 
            //VALIDACION DE QUE TODOS LOS CAMPOS TENGAN CARACTERES
            if(name.length > 0 && phone.length > 0 && mail.length > 0 && msj.length > 0){
                //VALIDACION DE FORMATO DE CORREO
                var mail_valid = validate(); 
                if(mail_valid)
                //FIN DE VALIDACION DE CORREO
                { 
                    $.ajax({  
                    url:'/avatar/public/AjaxSave',  
                    type:'POST',   
                    dataType:'json',
                    data:{nombre:name, correo:mail, telefono:phone, mensaje:msj},               
                    success: function(data) {  
                        console.log(data);
                        document.getElementById("form_manual").reset();
                        var obj = data;
                        var rsp = obj.data;
                        alert(rsp.data);
                    },  
                    error : function(xhr, textStatus, errorThrown) {  
                        //alert('Ajax request failed.');  
                        console.log(xhr);
                        console.log(errorThrown);
                    }  
                    });
                } 
            }
            else {
                alert("Tiene campos sin haber completado.");
            } 
         });  
      });  
    //FUNCION DE VALIDACION DE CORREO
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function validate() {
        var $result = $("#respuesta_email");
        var email = $("#correo").val();
        $result.text("");

        if (validateEmail(email)) {
                console.log("Correo en formato Correcto");
                $result.text("");
                return true;
        } else {
            $result.text(" No es un formato de mail correcto");
            $result.css("color", "red");
            return false;
        }
    }
    //FIN DE FUNCION DE VALIDACION
    </script> 
{% endblock %}  
<div class="container">
    <h3>Formulario manual DataForm:</h3> 
    <div class="container col-sm-12"> 
        <div class="col-sm-12">
            <form id="form_manual" class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 col-form-label" for="nombre">Nombre:</label>
                    <div class="col-sm-10">
                    <input type="text" id="nombre" class="form-control">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 col-form-label" for="correo">Correo:</label>
                    <div class="col-sm-10">
                    <input type="email" id="correo" placeholder="name@example.com" class="form-control">
                    <h4 id='respuesta_email'></h4>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 col-form-label" for="telefono">Telefono:</label>
                    <div class="col-sm-10">
                    <input id="telefono" class="form-control">
                    <h4 id='respuesta_phone'></h4>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 col-form-label" for="mensaje">Mensaje:</label>
                    <div class="col-sm-10">
                    <textarea maxlength="1000" id="mensaje" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-primary" id="manual_boton">Enviar</button>
                </div>
            </form>
        </div> 
    </div> 
</div>
{% endblock %}
